$bg-color: pink;
$cirle-color:azure;
body {
    background: $bg-color;
}

#circle {
    color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-color: $cirle-color;
    border-radius: 50%;
}